<% current_user.friend_requests_as_receiver.each do |request| %>
  <% unless request.accepted == true %>
    Request from <b><%= request.requestor.username %></b>
    to <b><%= request.receiver.username %></b><br>

    <%= form_for request, method: "patch", local: true do |form| %>
      <%= form.hidden_field :requestor_id, value: request.requestor.id %>
      <%= form.hidden_field :receiver_id, value: request.receiver.id %>
      <%= form.hidden_field :accepted, value: true %>
      <%= form.submit "Accept" %>
    <% end %>

  <% end %>
<% end %>

<div style="color: green">accepted:<br>
  <% @friend_requests_accepted.each do |r| %>
    <%= r.requestor.username + " --> " + r.receiver.username unless r.nil? %><br>
  <% end %>
</div><br>

<div style="color: red">pending:<br>
  <% @friend_requests_pending.each do |r| %>
    <%= r.requestor.username + " --> " + r.receiver.username unless r.nil? %><br>
  <% end %>
</div>
