<div class="post-container">
  <div class="post-container-user">
    <%= link_to "#{post.user.username}", profile_path(:id => post.user.profile.id) %>
    <div class="post-container-user-thumbnail">
      <image class="post-container-profile-img" src="<%= (url_for(post.user.profile.avatar)) %>">
    </div>
    <%= post.updated_at.strftime "%B %d. %Y, %H:%M" %>
  </div>
  <div class="post-container-content">
    <div class="post-container-content-body">
      <%= post.body %>
      <div class="post-container-content-body-actions">
        <span><%= link_to 'Show', post %></span>
        <span><%= link_to 'Edit', edit_post_path(post) if current_user == post.user %></span>
        <span><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if current_user == post.user %></span>
      </div>
    </div>
    <div class="post-container-content-likes">
      <% unless post.liking_users.include?(current_user) %>
        <%= form_with model: Like, local: true do |form| %>
          <%= form.hidden_field :post_id, value: post.id %>
          <%= form.submit "Like" %>
        <% end %>
      <% else %>
        <% like = post.likes.find { |like| like.user == current_user } %>
        <%= form_for like, method: "delete", local: true do |form| %>
          <%= form.submit "Unlike" %>
        <% end %>
      <% end %>
      <span class="post-likes-count">Likes: <%= post.nil? ? '0' : post.likes.count %></span>
    </div>
    <div class="post-container-content-comments">
      <% if post.comments.any? %>
        <% post.comments.each do |comment| %>
          <div class="post-container-content-comment">
            <span><b><%= comment.user.username %>:</b><br>
            <span class="comment-date"><%= post.updated_at.strftime "%b. %d. %Y, %H:%M" %></span></span>
            <span><%= comment.body %></span>
            
            <% if comment.user == current_user %>
              <span class="post-container-content-comment-delete"><%= form_for comment, method: "delete", local: true do |form| %>
                <%= form.submit "Delete comment" %>
              <% end %></span>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <%= form_with model: Comment, local: true do |form| %>
        <div class="post-container-content-comment-add-form">
          <%= form.hidden_field :post_id, value: post.id %> 
          <%= form.text_field :body, style: "width: 45vw;" %>
          <span class="post-container-content-comment-add"><%= form.submit "Add Comment" %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
