<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<!-- Upper container with search bar, friend requests -->
<div class="search-users-container">
  <%= form_with(url: 'posts', method: 'get', local: true) do %>
    <%= text_field_tag(:search) %>
    <%= submit_tag("Find Friends", class: "find-friends-button") %>
  <% end %>
  <% unless @users_searched.nil? || @users_searched.empty? %>
    <div id="search-users-container-results" class="search-users-container-results">
      <div class="search-users-container-results-child">
        <% @users_searched.each do |user| %>
          <% unless current_user == user %>
            <div class="searched-user-container">
              <%= user.username %>
              <% unless current_user == user || %>
                <% current_user.friend_requests_as_requestor.any? { |e| e.receiver == user } || %>
                <% (FriendRequest.all.any? { |r| r.requestor.id == user.id && r.receiver.id == current_user.id }) %>
                <div class="searched-user-button-container">
                  <%= render "friend_requests/form", user: user %>
                </div>
              <% end %>         
            </div>
          <% end %>
        <% end %>
        <!-- button for hiding div with search results -->
          <input type="submit", value="Close" onclick="hideDiv()" class="close-searched-users-button">
          <script>
            function hideDiv() {
              document.getElementById("search-users-container-results").style.display = "none";
            }
          </script>
      </div>
    </div>
  <% end %>

  <!-- container with pending friend requests -->
  <input type="submit", value="Friend Requests" onclick="friendRequestsDiv()" class="friend-requests-show-button">
  <script>
    function friendRequestsDiv() {
      div = document.getElementById("friend-requests-show-container")
      if(div.style.display == "block"){
        div.style.display = "none";
      }else{
        div.style.display = "block";
      }
      document.getElementById("search-users-container-results").style.display = "none";
    }
  </script>
  <div id="friend-requests-show-container" class="index-friend-requests-container">
    <%= render "friend_requests/index", friend_requests_accepted: @friend_requests_accepted, friend_requests_pending: @friend_requests_pending %>
  </div>
</div>

<!-- index container with all other data -->
<div class="index-container">
  <!-- container for table with posts, comments and likes -->
  <div class="index-posts-container">
    <table>
      <thead>
        <tr>
          <th>Body</th>
          <th>User</th>
          <th colspan="3"></th>
          <th>Comments</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.body %></td>
            <td><%= post.user.username %></td>
            <td><%= link_to 'Show', post %></td>
            <td><%= link_to 'Edit', edit_post_path(post) if current_user == post.user %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if current_user == post.user %></td>
            <td>
              <% if post.comments.any? %>
                <% post.comments.each do |comment| %>
                  <b><%= comment.user.username %>: </b>
                  <%= comment.body %><br>
                  <% if comment.user == current_user %>
                    <%= form_for comment, method: "delete", local: true do |form| %>
                      <%= form.submit "Delete comment" %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
              <%= form_with model: Comment, local: true do |form| %>
                <%= form.hidden_field :post_id, value: post.id %>
                <%= form.text_field :body %>
                <%= form.submit "Add Comment" %>
              <% end %>
            </td>
            
            <td>
              <% unless post.liking_users.include?(current_user) %>
                <%= form_with model: Like, local: true do |form| %>
                  <%= form.hidden_field :post_id, value: post.id %>
                  <%= form.submit "Like" %>
                <% end %>
              <% else %>
                <% like = post.likes.find { |like| like.user == current_user } %>
                <%= form_for like, method: "delete", local: true do |form| %>
                  <%= form.submit "Unlike" %>
                <% end %>
              <% end %>
            </td>
            <td>Likes: <%= post.nil? ? '0' : post.likes.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <% if user_signed_in? %>
      <%= link_to 'New Post', new_post_path %>
    <% end %>
  </div>

  <!-- container with all users available to become friend with -->
  <!--<div class="index-users-container">
    <%# User.all.each do |user| %>
      
      <%# unless (user == current_user) || %>
                <%# current_user.friend_requests_as_requestor.any? { |e| e.receiver == user } || %>
                <%# (FriendRequest.all.any? { |r| r.requestor.id == user.id && r.receiver.id == current_user.id }) %>
        <span><%#= user.username %></span>
        <span><%#= render "friend_requests/form", user: user %></span><br>
      <%# end %>
      
    <%# end %>
  </div>-->

  <!-- This part shows user's pending requests and -->
  <div class="index-friend-requests-container">
    <%= render "friend_requests/index", friend_requests_accepted: @friend_requests_accepted, friend_requests_pending: @friend_requests_pending %>
  </div>

  <!-- This part shows all friendships -->
  <!--<ul class="index-friendships-container">
    <%# @friendships.each do |friendship| %>
      <li><%#= friendship.friend.username + " and " + friendship.inverse_friend.username + " are friends" %></li>
    <%# end %>
  </ul>-->
</div>
