<header class="navbar-main">
  <div class="navbar-wrapper">
    <div class="navbar-user">
      <div class="thumbnail thumbnail-md" onclick="goToProfile()">
      <%# IF user's image from FB exists && if it's default ELSE manually uploaded img %>
        <% if current_user.image && curent_user.profile.facebook_avatar %>
          <%= image_tag(current_user.image + "&type=large", class: "profile-picture-container-img") %>
        <% elsif current_user.profile.avatar.attached? %>
          <%= image_tag(current_user.profile.avatar) %>
        <% end %>
      </div>
        <%# dropdown actions %>
      <div class="actions">
      <%# dropdown menu container %>
        <div class="action-dropdown">
          <div class="options dropdown-toggler" onclick="userOptionsToggle()">
            O
            <%# dropdown %>
            <div id="options-dropdown" class="dropdown-options dropdown-content">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      <%# friend requests %>
        <div class="action-friend-requests">
          <div class="friend-requests dropdown-toggler" onclick="userFriendRequestsToggle()">
            F
            <%# dropdown %>
            <div id="friend-requests-dropdown" class="dropdown-friend-requests dropdown-content">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      <%# user's notifications %>
        <div class="action-notifications">
          <div class="notifications dropdown-toggler" onclick="userNotificationsToggle()">
            N
            <%# dropdown %>
            <div id="notifications-dropdown" class="dropdown-notifications dropdown-content">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-actions">
      <div class="search-bar">
        FIND FRIENDS
      </div>
      <div class="contacts">
        CONTACTS
      </div>
      <div class="faq">
        FAQ
      </div>
    </div>
  </div>
</header>

<script>
  // by clicking the profile picture redirects to current user's profile page
  function goToProfile() {
    location.replace("<%= profile_path(current_user.profile) %>");
  }

  // display / hide dropdown menu for user's actions e.g. edit username, password, cancel account...
  function userOptionsToggle() {
    document.getElementById("options-dropdown").classList.toggle("dropdown-show");
  }
  // display / hide friend requests
  function userFriendRequestsToggle() {
    document.getElementById("friend-requests-dropdown").classList.toggle("dropdown-show");
  }
  // display / hide notifications 
  function userNotificationsToggle() {
    document.getElementById("notifications-dropdown").classList.toggle("dropdown-show");
  } 
</script>





<div class="navbar-container">
  <!-- This form searches for users and return results to same url -->
  <%= form_with(url: "#{request.env["PATH_INFO"]}", method: 'get', local: true) do %>
    <%= hidden_field_tag :id, params[:id] if params.key?(:id) %>
    <%= text_field_tag(:search) %>    
    <%= submit_tag("Find Friends", class: "find-friends-button") %>
  <% end %>
  <% if params.key?(:search) %>
    <% @users_searched = User.search(params[:search]) %>
    <div id="search-users-container-results" class="search-users-container-results">
      <div class="search-users-container-results-child">
        <% @users_searched.each do |user| %>
          <% unless current_user == user %>
            <div class="searched-user-container">
              <%= user.username %>
              <% unless current_user == user || %>
                <% current_user.friend_requests_as_requestor.any? { |e| e.receiver == user } || %>
                <% (FriendRequest.all.any? { |r| r.requestor.id == user.id && r.receiver.id == current_user.id }) %>
                <div class="searched-user-button-container">
                  <%= render "friend_requests/form", user: user %>
                </div>
              <% end %>         
            </div>
          <% end %>
        <% end %>
        <!-- button for hiding div with search results -->
          <input type="submit", value="Close" onclick="hideDiv()" class="close-searched-users-button">
          <script>
            function hideDiv() {
              document.getElementById("search-users-container-results").style.display = "none";
            }
          </script>
      </div>
    </div>
  <% end %>

  <!-- container with pending friend requests -->
  <div class="friend-requests-show-button-container">
    <input type="submit", value="Friend Requests" onclick="friendRequestsDiv()" class="friend-requests-show-button">
    <script>
      function friendRequestsDiv() {
        div = document.getElementById("friend-requests-show-container")
        if(div.style.display == "block"){
          div.style.display = "none";
        }else{
          div.style.display = "block";
        }
        document.getElementById("search-users-container-results").style.display = "none";
      }
    </script>
  </div>
  <div id="friend-requests-show-container" class="index-friend-requests-container">
    <%= render "friend_requests/index", friend_requests_accepted: @friend_requests_accepted, friend_requests_pending: @friend_requests_pending %>
  </div>
</div>
